{% extends 'base.html' %}

{% block title %}
{{ post.title_blog }}
{% endblock %}

{% block content %}
<h1>{{ post.title_blog }}</h1>
<h2>{{ post.post_date }}</h2>
By: {{ post.author_blog }} - <a href="{% url 'update_post' post.pk %}">Edit</a> - <a href="{% url 'delete_post' post.pk %}">Delete</a><br>{{ post.body|safe }}

    <a class="btn btn-dark" href="{% url 'home' %}">Go Back</a>


    {% if liked %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">UnLike</button>
        </form>
    {% else %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        </form>
    {% endif %}
    {{ total_likes }}

{% endblock %}