{% extends 'base.html' %}

{% block title %}
{{ post.title_blog }}
{% endblock %}

{% block content %}
<h1>{{ post.title_blog }}</h1>
<h4>By: {{ post.author_blog }} ({{ post.post_date }})</h4>
{% if user.is_authenticated %}
<a href="{% url 'update_post' post.pk %}">Edit</a> - <a href="{% url 'delete_post' post.pk %}">Delete</a>
{% endif %}  
<br>
<hr>
{{ post.body|safe }}

<p>
    Total No of Likes: {{ total_likes }}
</p>
<a class="btn btn-dark" href="{% url 'home' %}">Go Back</a>

{% if user.is_authenticated %}
    {% if liked %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">UnLike</button>
        </form>
    {% else %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type = "submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        </form>
    {% endif %}
{% endif %}    

{% endblock %}